{% extends "base.html" %}

{% block content %}

  <h4 >File: {{file_obj.name}} </h4>
  <h4>
    {% for parent in parents %}
      <a href="{{parent.ref}}.html"> {{parent.name}}</a>
      {% if not loop.last %} / {% endif %}
    {% endfor %}
  </h4>

  <h4> docstring </h4>
  <div>
    {{file_obj.desc | default("<no module  docstring>" , true) | escape}}
  </div>

  <h4> imports </h4>
  <div>
    {% for imp, names in file_obj.imports  %}
      <div>{{ imp }} - {{names}} </div>
    {% endfor %}
  </div>


{% endblock %}
