{% extends "base.html" %}

{% block content %}

  <h4 >Folder: {{folder.name}} </h4>
  <h4>
    {% for parent in parents %}
      <a href="{{parent.ref}}.html"> {{parent.name}}</a>
      {% if not loop.last %} / {% endif %}
    {% endfor %}
  </h4>
  <table border="1">
    {% for sub_folder in folder.folders|sort %}
    <tr>
      <td><a href="{{base_link}}{{sub_folder.name}}.html">{{ sub_folder.name }}</a></td>
    </tr>
    {% endfor %}

    {% for file in folder.files|sort  %}
    <tr><td><a href="{{file.ref}}.html">{{ file.name }}</a></td><td>{{ file.desc }}</td></tr>
    {% endfor %}

  </table>


  </table>
{% endblock %}
