{% extends "base.html" %}

{% block content %}

  <h4> Package list </h4>
  <table border="1">
    <tr><th>name</th><th>sub-folders</th><th>files</th></tr>
    {% for folder, content in project.folders|dictsort %}
    <tr>
      <td><a href="{{content.name}}.html">{{ content.name }}</a></td>
      <td>{{ content.folders|length }}</td>
      <td>{{ content.files|length }}</td>
    </tr>
    {% endfor %}
  </table>


  <h4> Module list </h4>
  <table border="1">
    <tr><th>name</th></tr>
    {% for file, content in project.files|dictsort  %}
    <tr><td>{{ file }}</td></tr>
    {% endfor %}
  </table>
{% endblock %}
