{% extends "base.html" %}

{% block content %}

  <h4 >File: {{file_obj.name}} </h4>
  <h4>
    {% for parent in parents %}
      <a href="{{parent.ref}}.html"> {{parent.name}}</a>
      {% if not loop.last %} / {% endif %}
    {% endfor %}
  </h4>

  <h4> docstring </h4>
  <div>
    {{file_obj.desc | default("<no module  docstring>" , true) | escape}}
  </div>

  <h4> imports </h4>
  <table border="1">
    <tr><th>module</th><th>name</th><th>asname</th><th>level</th></tr>
    {% for imports in file_obj.imports  %}
      <tr><td>{{imports[0]}}</td><td>{{imports[1]}}</td>
	<td>{{imports[2]}}</td><td>{{imports[3]}}</td>
      </tr>
    {% endfor %}
  </table>


{% endblock %}
